[Bb]in/
[Oo]bj/
*.log
*.tmp

wwwroot/_framework/
wwwroot/_bin/
wwwroot/css/app.css.map

publish/
**/Properties/PublishProfiles/

.vscode/
.vs/
.idea/
*.user
*.suo
*.userprefs
*.sln.docstates

.DS_Store
Thumbs.db
Desktop.ini

appsettings.Development.json
appsettings.Production.json
appsettings.local.json
secrets.json